@model uStoreMVC.Domain.ProductModel

@{
    ViewBag.Title = "Create Products";
}

<h2>Create Products</h2>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">
                Product Name
            </label>
            <div class="col-md-8">
                @Html.EditorFor(m => m.ProductName, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
               Price
            </label>
            <div class="col-md-8">
                @Html.EditorFor(m => m.Price, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
            Description
            </label>
            <div class="col-md-8">
                @Html.EditorFor(m => m.ProductDescription, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ProductDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
             Units In Stock
            </label>
            <div class="col-md-8">
                @Html.EditorFor(m => m.UnitsInStock, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.UnitsInStock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Product" class="btn btn-info" />
            </div>
        </div>


    </div>
}@*end using*@